<div class="side-menu">
    <div class="logo">
        <h2>Pilote Tortue</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a [routerLink]="['/mouvements']" routerLinkActive="active">Mouvements (cartes beiges)</a>
            </li>
            <li>
                <a [routerLink]="['/actions']" routerLinkActive="active">Actons (cartes vertes)</a>
            </li>
            <li>
                <a [routerLink]="['/routines']" routerLinkActive="active">Routines (cartes rouges)</a>
            </li>
        </ul>
    </nav>
</div>