<div class="home-container">
    <h1>Pilote Tortue</h1>
    <p>
        Cette application permet de contrôler une tortue Jeulin T3 via une connexion série.
        Je n'ai pas de tortue T2 pour tester.
        Les cartes sont classées par couleur. Il semble que chaque couleur corresponde à un type de carte différent, même si ce n'est pas évident
        pour certaines cartes.
        <br>
        Le présent projet est en cours de développement et peut être retrouvé sur github :
        <a href="https://github.com/MemoireMorte/piloteTortue" target="_blank" rel="noopener noreferrer">https://github.com/MemoireMorte/piloteTortue</a>
        
    </p>
    <app-serial-connection></app-serial-connection>
</div>
